templates/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><meta http-equiv="X-UA-Compatible" content="ie=edge"/><title>Document</title></head><body><div class="container-fluid"><div class="row"><div class="col-12"><h1>test 22222</h1><h1>kek </h1></div></div></div></body></html>

templates/index.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .container-fluid
            .row
                .col-12
                     h1 test 22222
                     h1 kek 
                     
