Hakaton/adminWait.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head> 
    <title>wait</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg bg-light navbar-light"><a class="navbar-brand" href="#">Semantic Astra</a>
        <!--button.navbar-toggler(type="button")(data-toggle="collapse")(data-target="#navbarTogglerDemo02")(aria-controls="navbarTogglerDemo02")(aria-expanded="false")(aria-label="Toggle navigation")span.navbar-toggler-icon
        -->
        <!--.collapse.navbar-collapse(id="navbarTogglerDemo02")
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            +navli('Главная',"in.html")   
                span.sr-only (current)
            +navli('О нас')
            +navli('Ссылки')      
        a(href="login.html")
            button.btn.float-right.btn-primary  Login
        -->
      </nav>
    </header><br>
    <div class="container top-buffer border bg-light">
      <h1>Wait...</h1>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">50%</div>
      </div><br>
    </div>
  </body>
</html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

Hakaton/adminWait.pug
extends adminpanel.pug

block title
    title wait

block content 
    h1 Wait...
    .progress
        .progress-bar.bg-success(role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100") 50%
    br
